input,
select,
textarea {
  width: 100%; /* Ensure elements take up the full width */
  padding: 0.5rem; /* Optional: Add padding for better appearance */
  box-sizing: border-box; /* Include padding in the element's total width */
}
.form-check-input{
  width: auto;
  padding: auto;
}

.error-container {
  height: 1.5em; /* Reserve space for error messages */
  font-size: 0.875rem; /* Ensure text fits well */
  line-height: 1.5em;
}
.child{
  border-bottom: 2px dashed #fff;
}
